<%- include('header') %>

<body>
  <main>
    <!-- About me -->
    <section>
      <span>4/4</span>
      <h1>About me</h1>
      <p>Let other people know who you are and what you like</p>

      <label for="about">About me</label>
      <textarea
        id="about"
        name="about"
        rows="15"
        cols="33"
        placeholder="Something about me"
      ></textarea>

      <a>Confirm</a>
    </section>
  </main>
</body>
