<%- include('header') %>

<body>
  <main>
    <!-- About me -->
    <section>
      <img src="" />
      <h1>About me</h1>
      <p>
        Schrijf iets over jezelf zodat andere je beter kunnen leren kennen!
      </p>
      <a>Confirm</a>
    </section>
  </main>
</body>
</html>
