<%- include('header') %>

<body>
  <main>
    <!-- your profile -->
    <section>
      <h1>Serenoiia</h1>
      <p>Welcome</p>
      <a></a>
    </section>

    <section>
      <img src="static/profiel-aanmaken.jpg" />
      <P>Bio</P>
    </section>

    <section>
      <h2>Music</h2>
      <div id="embed-iframe">
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/21eMasL93nEafqRwlI851z?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
    </section>

  </main>
  <script src="https://open.spotify.com/embed-podcast/iframe-api/v1" async></script>
</body>
</html>
