<%- include('header') %>

<body>
  <main>
    <!-- Bands / artiesten -->
    <section>
      <h1>Bands / artiesten</h1>
      <p>Selecteer je favoriete artiesten</p>
      <ul>
        <li> Sleep token</li>
        <li> PVRIS</li>
        <li> Arctic monkeys</li>
      </ul>
      <a href="/upload-picture">Next</a>
    </section>
  </main>
</body>
</html>
