<%- include('header') %>

<body>
  <main>
    <section id="profilePicture">
      <span>3/4</span>
      <form action="/new-about" method="post">
        <h1>Profile picture</h1>

        <p>Make your profile yours by adding a profile picture</p>

        <label for="upload-image">
          <input type="file" id="upload-image" accept="image/png, image/jpeg" />
          <img src="static/upload-image.svg" alt="" />
        </label>
        <input type="submit" value="Next" />
      </form>
    </section>
  </main>
  <script src="js/script.js"></script>
</body>
